<!DOCTYPE html>
{% load static %}
<html>
<head>
  <meta charset="utf-8">
  <title>My administration</title>
  <!-- Le styles -->
  <link href="{% static "/css/bootstrap.css" %}" rel="stylesheet">

  <style>
    body {
      padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
    }
  </style>
  <link href="{% static "/css/bootstrap-responsive.css" %}" rel="stylesheet">
</head>


<body>
  <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container">
        <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="brand" href="{% url 'userTransmitterInterface' %}">User transmit page</a>
        <div class="nav-collapse collapse">
          <ul class="nav">
          </ul>
        </div><!--/.nav-collapse -->
        <div class="pull-right">
    <a class="btn" href="{% url 'logout' %}">Log out</a>
      </div>
      </div>
    </div>
  </nav>




  <div class="container">

    <h2>Already sent files :</h2> <!== 60px to make the container go all the way to the bottom of the topbar --!>
      <table class="table table-striped">
        <thead>
          <tr>
            <th> File </th>
            <th> Upload date </th>
            <th> Size </th>
            <th> Action </th>
          </tr>
        </thead>
        <tbody>
        {% for file in allFiles %}
            <tr>
              <td>{{ file.3 }}</td>
              <td>{{ file.2 }}</td>
              <td>{{ file.1 }} B</td> <!--- .0 path-->
              <td>
	              <form action="{% url 'downloadFile' %}" method="post">
		              {% csrf_token %}
		              <input type="hidden" name="fileToDownload" value="{{ file.0 }}">
		              <button type="submit" style="border: none;"><span class="icon-download-alt"></span></button>
	              </form>
	              <form action="{% url 'downloadFile' %}" method="post">
		              {% csrf_token %}
		              <input type="hidden" name="fileToDownload" value="{{ file.0 }}">
		              <button type="submit" style="border: none;"><span class="icon-delete-alt"></span></button>
	              </form>
              </td>
            </tr>
        {% endfor %}
          </tbody>
      </table>

    <hr>
    <h2>Upload new file :</h2><br>
    <form class="form-search" enctype="multipart/form-data" action="{% url 'userTransmitterInterface' %}" method="post">
	    {% csrf_token %}
        {{ form }}
        <br><br>
        <button class="btn btn-primary" type="submit">Add</button>

    </form>
  </div> <!-- /container -->

  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="./js/jquery.js"></script>
  <script src="./js/bootstrap.js"></script>
</body>
</html>
